body {
  background: #282D35;
}

nav {
  display: flex;
  padding: auto;
  background-color: #21222A;
  /* width: 550px; */
  height: 91px;
}

.react-logo {
  width: 27px;
  height: 24px;
  margin-top: 31px;
  margin-left: 26px;
}

.react-facts {
  color: #61DAFB;
  font-weight: bold;
  font-size: 22px;
  margin-top: 31px;
  margin-left: 8px;
}

.course-name {
  color: white;
  margin: auto 0 auto auto;
  font-weight: 16px;
}

.main {
  color: #ffffff;
  margin-top: 41px;
  margin-left: 27px;
}

.title {
  font-size: 39px;
  letter-spacing: -0.05em;
}

.points {
  line-height: 2;
  font-size: 16px;
  max-width: 400px;
  padding-block: 10px;
}

.points>li::marker {
  color: #61DAFB;
  font-size: 1.5em;
}